---
import Layout from "../../layouts/Layout.astro";
import RedSocial from "./RedSocial.astro";
---

<Layout title="footer">
  <footer class="min-h-screen bg-[#2d2240] flex flex-col items-center">
    <div>
      <img src="/public/images/logo.svg" alt="" />
    </div>
    <div>
      <RedSocial />
    </div>
  </footer>
</Layout>
