---
import Layout from "../../layouts/Layout.astro";
import RedSocial from "./RedSocial.astro";
---

<Layout title="footer">
  <footer
    class="bg-[#21192f] flex flex-col justify-center mb-4 items-center md:bg-[#000000e1] lg:w-full lg:p-5 lg:pt-4"
  >
    <div
      class="lg:grid lg:grid-cols-3 lg:justify-between lg:items-start lg:bg-b[#000000e1]"
    >
      <h2
        class="text-white text-4xl font-bold py-4 tracking-wide text-center lg:py-0"
      >
        Shortly
      </h2>

      <div class="text-center lg:w-full lg:grid lg:grid-cols-4">
        <ul>
          <h4>Features</h4>
          <li>Link Shortening</li>
          <li>Branded Links</li>
          <li>Analytics</li>
        </ul>
        <ul>
          <h4>Resources</h4>
          <li>Blog</li>
          <li>Developer</li>
          <li>Support</li>
        </ul>
        <ul>
          <h4>Company</h4>
          <li>About</li>
          <li>Our Team</li>
          <li>Careers</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="flex flex-row justify-center items-center">
        <RedSocial />
      </div>
    </div>
  </footer>
</Layout>

<style>
  h4 {
    color: white;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
  }
  ul {
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
  }
  li {
    color: gray;
    padding: 0.1rem;
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.7rem;
      padding-bottom: 35px;
    }
    h4 {
      font-size: 1.3rem;
    }
    li {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1000px) {
    h2 {
      font-size: 2.7rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    li {
      font-size: 1rem;
    }
    ul {
      text-align: justify;
      padding-left: 35px;
    }
  }
</style>
