---
import Layout from "../../layouts/Layout.astro";
import redesSociales from "../../utils/RedesSociales";
---

<Layout title="">
  <div class="">
    <div class="flex flex-row justify-center items-center gap-7 mt-7">
      {
        redesSociales.map((imgSocial) => (
          <>
            <img class="text-white" src={imgSocial.img} alt={imgSocial.alt} />
          </>
        ))
      }
    </div>
  </div>
</Layout>
