---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Short LINK API">
  <main class="bg-white h-screen">
    <div class="bg-black">
      <input type="text" value="" />
      <button class="text-white">Hello</button>
    </div>
  </main>
</Layout>
