---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Short LINK API">
  <main class="h-screen bg-red-500">
    <div
      class="flex flex-col mx-auto bg-violet-600 w-[300px] px-10 py-10 mt-10"
    >
      <input class="py-2" type="text" value="" />
      <button class="text-white bg-black py-2 mt-5">Shorten it!</button>
    </div>
  </main>
</Layout>
