---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="">
  <div class="flex flex-col items-center justify-center my-11">
    <h3 class="text-3xl font-bold">Advanced Statistis</h3>
    <p class="text-center text-gray-400 text-lg pt-4 px-6">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque similique
      natus expedita repellat assumenda ducimus dignissimo.
    </p>
  </div>
</Layout>
